yt-dlp
requests
requests-toolbelt
google-generativeai
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
faster-whisper
openai-whisper
setuptools
opencv-python-headless
numpy
Pillow
pytz
PyYAML
